$color-principal: #0072ff;
$color-secundario: #9c38e7;
$color-terciario: whitesmoke;
$color-complementario: black;


$form-background-color: #ccc;
$form-border-color: #f6f6f6;
$form-button-color: #9c38e7;